---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to configure Dynamic Configs for your Statsig project.

To learn more about Dynamic Configs, see [Dynamic Configs Documentation](https://docs.statsig.com/dynamic-config)

To learn more about the API powering this resource, see [Dynamic Configs API Documentation](https://docs.statsig.com/console-api/all-endpoints-generated#post-/console/v1/dynamic_configs)

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}