---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to configure API keys for your Statsig project.

To learn more about API keys, see [API Keys Documentation](https://docs.statsig.com/sdk-keys/api-keys/)

To learn more about the API powering this resource, see [Keys API Documentation](https://docs.statsig.com/console-api/keys)

-> Note: This resource requires a Console API Key with the following scope: `can access other keys`

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}