---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource allows you to configure Custom Roles for your Statsig project.

To learn more about Custom Roles, see [Custom Roles Documentation](https://docs.statsig.com/access-management/projects#custom-roles)

To learn more about the API powering this resource, see [Settings Roles API Documentation](https://docs.statsig.com/console-api/all-endpoints-generated#post-/console/v1/roles)

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}