---
page_title: "Statsig Provider"
description: |-
  The Statsig Provider allows you to manage your Statsig project from Terraform. 
---

# Statsig Provider

The Statsig Provider allows you to manage your Statsig project from Terraform.
The provider synchronizes with Statsig via the [Console API](https://docs.statsig.com/console-api/introduction/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}