{
  "openapi": "3.1.0",
  "info": {
    "title": "Console API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://statsigapi.net"
    }
  ],
  "security": [
    {
      "STATSIG-API-KEY": []
    }
  ],
  "components": {
    "securitySchemes": {
      "STATSIG-API-KEY": {
        "type": "apiKey",
        "name": "STATSIG-API-KEY",
        "scheme": "STATSIG-API-KEY",
        "in": "header"
      }
    },
    "schemas": {
      "PaginationResponseMetadataSchema": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "type": "number"
          },
          "pageNumber": {
            "type": "number"
          },
          "nextPage": {
            "type": [
              "string",
              "null"
            ]
          },
          "previousPage": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalItems": {
            "type": "number"
          },
          "all": {
            "type": "string"
          }
        },
        "required": [
          "itemsPerPage",
          "pageNumber",
          "nextPage",
          "previousPage"
        ]
      },
      "ExperimentCreateSchema": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "idType": {
            "type": "string"
          },
          "hypothesis": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "size": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "parameterValues": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "disabled": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "size",
                "parameterValues"
              ]
            }
          },
          "allocation": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "primaryMetricTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "secondaryMetricTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "primaryMetrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "type"
              ]
            }
          },
          "secondaryMetrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "type"
              ]
            }
          },
          "targetApps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "duration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "targetExposures": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "targetingGateID": {
            "type": "string"
          },
          "bonferroniCorrection": {
            "type": "boolean"
          },
          "defaultConfidenceInterval": {
            "type": "string",
            "enum": [
              "80",
              "90",
              "95",
              "98",
              "99"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "setup",
              "decision_made",
              "abandoned",
              "archived"
            ]
          },
          "launchedGroupID": {
            "type": [
              "string",
              "null"
            ]
          },
          "assignmentSourceName": {
            "type": "string"
          },
          "assignmentSourceExperimentName": {
            "type": "string"
          },
          "creatorID": {
            "type": [
              "string",
              "null"
            ]
          },
          "creatorEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "isAnalysisOnly": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "team": {
            "type": [
              "string",
              "null"
            ]
          },
          "allocationDuration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "cohortedAnalysisDuration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "fixedAnalysisDuration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_\\- ]*$"
          },
          "layerID": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "ExperimentSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "idType": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "lastModifierID": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastModifiedTime": {
            "type": [
              "number",
              "null"
            ]
          },
          "lastModifierEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastModifierName": {
            "type": [
              "string",
              "null"
            ]
          },
          "creatorID": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdTime": {
            "type": "number"
          },
          "creatorName": {
            "type": [
              "string",
              "null"
            ]
          },
          "creatorEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "targetApps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "holdoutIDs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "team": {
            "type": [
              "string",
              "null"
            ]
          },
          "hypothesis": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "size": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "parameterValues": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "disabled": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "size",
                "parameterValues"
              ]
            }
          },
          "allocation": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "primaryMetricTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "secondaryMetricTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "primaryMetrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "type"
              ]
            }
          },
          "secondaryMetrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "type"
              ]
            }
          },
          "duration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "targetExposures": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "targetingGateID": {
            "type": "string"
          },
          "bonferroniCorrection": {
            "type": "boolean"
          },
          "defaultConfidenceInterval": {
            "type": "string",
            "enum": [
              "80",
              "90",
              "95",
              "98",
              "99"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "setup",
              "decision_made",
              "abandoned",
              "archived"
            ]
          },
          "launchedGroupID": {
            "type": [
              "string",
              "null"
            ]
          },
          "assignmentSourceName": {
            "type": "string"
          },
          "assignmentSourceExperimentName": {
            "type": "string"
          },
          "isAnalysisOnly": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "allocationDuration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "cohortedAnalysisDuration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "fixedAnalysisDuration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "layerID": {
            "type": [
              "string",
              "null"
            ]
          },
          "startTime": {
            "type": [
              "number",
              "null"
            ]
          },
          "endTime": {
            "type": [
              "number",
              "null"
            ]
          },
          "decisionReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "decisionTime": {
            "type": [
              "number",
              "null"
            ]
          },
          "healthChecks": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "PASSED",
                  "FAILED",
                  "WAITING",
                  "WARNING"
                ]
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "lastPulseLoadTime": {
                    "type": "number"
                  },
                  "crossoverPercent": {
                    "type": "number"
                  },
                  "assignmentSourceID": {
                    "type": "string"
                  },
                  "assignmentSourceName": {
                    "type": "string"
                  },
                  "foreignExperimentID": {
                    "type": "string"
                  },
                  "deduplication_rate": {
                    "type": "number"
                  },
                  "deduplication_rates": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "group_id": {
                          "type": "string"
                        },
                        "rate": {
                          "type": "number"
                        },
                        "group_name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "group_id",
                        "rate",
                        "group_name"
                      ]
                    }
                  },
                  "primary_id_type": {
                    "type": "string"
                  },
                  "secondary_id_type": {
                    "type": "string"
                  },
                  "missingMetrics": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "lastUpdatedDs": {
                    "type": "string"
                  }
                },
                "required": [
                  "type",
                  "primary_id_type"
                ]
              }
            },
            "required": [
              "name",
              "description",
              "status",
              "metadata"
            ]
          }
        },
        "required": [
          "id",
          "idType",
          "description",
          "lastModifierID",
          "lastModifiedTime",
          "lastModifierEmail",
          "lastModifierName",
          "createdTime",
          "creatorName",
          "tags",
          "hypothesis",
          "groups",
          "allocation",
          "primaryMetrics",
          "secondaryMetrics",
          "targetingGateID",
          "bonferroniCorrection",
          "defaultConfidenceInterval",
          "status",
          "healthChecks"
        ]
      },
      "ExperimentsListResponseSchema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "idType": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "maxLength": 1000
                },
                "lastModifierID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "lastModifiedTime": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "lastModifierEmail": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "lastModifierName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "creatorID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "createdTime": {
                  "type": "number"
                },
                "creatorName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "creatorEmail": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "targetApps": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "holdoutIDs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "team": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "hypothesis": {
                  "type": "string"
                },
                "groups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "id": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "size": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100
                      },
                      "parameterValues": {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      "disabled": {
                        "type": "boolean"
                      },
                      "description": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "size",
                      "parameterValues"
                    ]
                  }
                },
                "allocation": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "primaryMetricTags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "secondaryMetricTags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "primaryMetrics": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ]
                  }
                },
                "secondaryMetrics": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ]
                  }
                },
                "duration": {
                  "type": "integer",
                  "exclusiveMinimum": 0
                },
                "targetExposures": {
                  "type": "integer",
                  "exclusiveMinimum": 0
                },
                "targetingGateID": {
                  "type": "string"
                },
                "bonferroniCorrection": {
                  "type": "boolean"
                },
                "defaultConfidenceInterval": {
                  "type": "string",
                  "enum": [
                    "80",
                    "90",
                    "95",
                    "98",
                    "99"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "active",
                    "setup",
                    "decision_made",
                    "abandoned",
                    "archived"
                  ]
                },
                "launchedGroupID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "assignmentSourceName": {
                  "type": "string"
                },
                "assignmentSourceExperimentName": {
                  "type": "string"
                },
                "isAnalysisOnly": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "allocationDuration": {
                  "type": "integer",
                  "exclusiveMinimum": 0
                },
                "cohortedAnalysisDuration": {
                  "type": "integer",
                  "exclusiveMinimum": 0
                },
                "fixedAnalysisDuration": {
                  "type": "integer",
                  "exclusiveMinimum": 0
                },
                "layerID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "startTime": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "endTime": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "decisionReason": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "decisionTime": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "healthChecks": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "PASSED",
                        "FAILED",
                        "WAITING",
                        "WARNING"
                      ]
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "lastPulseLoadTime": {
                          "type": "number"
                        },
                        "crossoverPercent": {
                          "type": "number"
                        },
                        "assignmentSourceID": {
                          "type": "string"
                        },
                        "assignmentSourceName": {
                          "type": "string"
                        },
                        "foreignExperimentID": {
                          "type": "string"
                        },
                        "deduplication_rate": {
                          "type": "number"
                        },
                        "deduplication_rates": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "group_id": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "number"
                              },
                              "group_name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "group_id",
                              "rate",
                              "group_name"
                            ]
                          }
                        },
                        "primary_id_type": {
                          "type": "string"
                        },
                        "secondary_id_type": {
                          "type": "string"
                        },
                        "missingMetrics": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "lastUpdatedDs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "primary_id_type"
                      ]
                    }
                  },
                  "required": [
                    "name",
                    "description",
                    "status",
                    "metadata"
                  ]
                }
              },
              "required": [
                "id",
                "idType",
                "description",
                "lastModifierID",
                "lastModifiedTime",
                "lastModifierEmail",
                "lastModifierName",
                "createdTime",
                "creatorName",
                "tags",
                "hypothesis",
                "groups",
                "allocation",
                "primaryMetrics",
                "secondaryMetrics",
                "targetingGateID",
                "bonferroniCorrection",
                "defaultConfidenceInterval",
                "status",
                "healthChecks"
              ]
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResponseMetadataSchema"
          }
        },
        "required": [
          "message",
          "data",
          "pagination"
        ]
      },
      "LayerCreateSchema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[A-Za-z0-9_ -]*$"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "idType": {
            "type": "string"
          },
          "targetApps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name",
          "idType"
        ]
      },
      "LayerReadResponseSchema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "idType": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "maxLength": 1000
              },
              "lastModifierID": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lastModifiedTime": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "lastModifierEmail": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lastModifierName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "creatorID": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdTime": {
                "type": "number"
              },
              "creatorName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "creatorEmail": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "targetApps": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "holdoutIDs": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "team": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "isImplicitLayer": {
                "type": "boolean"
              },
              "parameters": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "string",
                        "number",
                        "boolean",
                        "object",
                        "array"
                      ]
                    },
                    "defaultValue": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "name",
                    "type",
                    "defaultValue"
                  ]
                }
              }
            },
            "required": [
              "id",
              "idType",
              "description",
              "lastModifierID",
              "lastModifiedTime",
              "lastModifierEmail",
              "lastModifierName",
              "creatorID",
              "createdTime",
              "creatorName",
              "creatorEmail",
              "isImplicitLayer",
              "parameters"
            ]
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "LayerReadListResponseSchema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "idType": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "maxLength": 1000
                },
                "lastModifierID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "lastModifiedTime": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "lastModifierEmail": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "lastModifierName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "creatorID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "createdTime": {
                  "type": "number"
                },
                "creatorName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "creatorEmail": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "targetApps": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "holdoutIDs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "team": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "isImplicitLayer": {
                  "type": "boolean"
                },
                "parameters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "string",
                          "number",
                          "boolean",
                          "object",
                          "array"
                        ]
                      },
                      "defaultValue": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      }
                    },
                    "required": [
                      "name",
                      "type",
                      "defaultValue"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "idType",
                "description",
                "lastModifierID",
                "lastModifiedTime",
                "lastModifierEmail",
                "lastModifierName",
                "creatorID",
                "createdTime",
                "creatorName",
                "creatorEmail",
                "isImplicitLayer",
                "parameters"
              ]
            }
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "DynamicConfigRuleContract": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "passPercentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "conditions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "targetValue": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "operator": {
                  "type": "string"
                },
                "field": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "customID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "app_version",
                    "browser_name",
                    "browser_version",
                    "country",
                    "custom_field",
                    "email",
                    "environment_tier",
                    "fails_gate",
                    "fails_segment",
                    "ip_address",
                    "locale",
                    "os_name",
                    "os_version",
                    "passes_gate",
                    "passes_segment",
                    "public",
                    "time",
                    "unit_id",
                    "user_id",
                    "url",
                    "javascript",
                    "device_model"
                  ]
                }
              },
              "required": [
                "type"
              ]
            }
          },
          "environments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string"
          },
          "baseID": {
            "type": "string"
          },
          "returnValue": {
            "type": "object",
            "additionalProperties": {}
          },
          "returnValueJson5": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "passPercentage",
          "conditions"
        ]
      },
      "DynamicConfigFullUpdateContract": {
        "type": "object",
        "properties": {
          "isEnabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "passPercentage": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "conditions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "targetValue": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "operator": {
                        "type": "string"
                      },
                      "field": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "customID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "app_version",
                          "browser_name",
                          "browser_version",
                          "country",
                          "custom_field",
                          "email",
                          "environment_tier",
                          "fails_gate",
                          "fails_segment",
                          "ip_address",
                          "locale",
                          "os_name",
                          "os_version",
                          "passes_gate",
                          "passes_segment",
                          "public",
                          "time",
                          "unit_id",
                          "user_id",
                          "url",
                          "javascript",
                          "device_model"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                },
                "environments": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "id": {
                  "type": "string"
                },
                "baseID": {
                  "type": "string"
                },
                "returnValue": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "returnValueJson5": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "passPercentage",
                "conditions"
              ]
            }
          },
          "defaultValue": {
            "type": "object",
            "additionalProperties": {}
          },
          "defaultValueJson5": {
            "type": "string"
          },
          "idType": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "creatorID": {
            "type": [
              "string",
              "null"
            ]
          },
          "creatorEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "schema": {
            "type": [
              "string",
              "null"
            ]
          },
          "schemaJson5": {
            "type": [
              "string",
              "null"
            ]
          },
          "targetApps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "team": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "isEnabled",
          "description",
          "rules"
        ]
      },
      "DynamicConfigCreateContract": {
        "type": "object",
        "properties": {
          "isEnabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "passPercentage": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "conditions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "targetValue": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "operator": {
                        "type": "string"
                      },
                      "field": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "customID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "app_version",
                          "browser_name",
                          "browser_version",
                          "country",
                          "custom_field",
                          "email",
                          "environment_tier",
                          "fails_gate",
                          "fails_segment",
                          "ip_address",
                          "locale",
                          "os_name",
                          "os_version",
                          "passes_gate",
                          "passes_segment",
                          "public",
                          "time",
                          "unit_id",
                          "user_id",
                          "url",
                          "javascript",
                          "device_model"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                },
                "environments": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "id": {
                  "type": "string"
                },
                "baseID": {
                  "type": "string"
                },
                "returnValue": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "returnValueJson5": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "passPercentage",
                "conditions"
              ]
            }
          },
          "defaultValue": {
            "type": "object",
            "additionalProperties": {}
          },
          "defaultValueJson5": {
            "type": "string"
          },
          "idType": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "creatorID": {
            "type": [
              "string",
              "null"
            ]
          },
          "creatorEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "schema": {
            "type": [
              "string",
              "null"
            ]
          },
          "schemaJson5": {
            "type": [
              "string",
              "null"
            ]
          },
          "targetApps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "team": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_\\- ]*$"
          }
        },
        "required": [
          "name"
        ]
      },
      "DynamicConfigReadResponseContract": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "idType": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "maxLength": 1000
              },
              "lastModifierID": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lastModifiedTime": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "lastModifierEmail": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lastModifierName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "creatorID": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdTime": {
                "type": "number"
              },
              "creatorName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "creatorEmail": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "targetApps": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "holdoutIDs": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "team": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "isEnabled": {
                "type": "boolean"
              },
              "rules": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "passPercentage": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "conditions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "targetValue": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "operator": {
                            "type": "string"
                          },
                          "field": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "customID": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "app_version",
                              "browser_name",
                              "browser_version",
                              "country",
                              "custom_field",
                              "email",
                              "environment_tier",
                              "fails_gate",
                              "fails_segment",
                              "ip_address",
                              "locale",
                              "os_name",
                              "os_version",
                              "passes_gate",
                              "passes_segment",
                              "public",
                              "time",
                              "unit_id",
                              "user_id",
                              "url",
                              "javascript",
                              "device_model"
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ]
                      }
                    },
                    "environments": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "baseID": {
                      "type": "string"
                    },
                    "returnValue": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "returnValueJson5": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "passPercentage",
                    "conditions"
                  ]
                }
              },
              "defaultValue": {
                "type": "object",
                "additionalProperties": {}
              },
              "defaultValueJson5": {
                "type": "string"
              },
              "schema": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "schemaJson5": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "description",
              "lastModifierID",
              "lastModifiedTime",
              "lastModifierEmail",
              "lastModifierName",
              "createdTime",
              "creatorName",
              "isEnabled",
              "rules"
            ]
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "DynamicConfigListResponseContract": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "idType": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "maxLength": 1000
                },
                "lastModifierID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "lastModifiedTime": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "lastModifierEmail": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "lastModifierName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "creatorID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "createdTime": {
                  "type": "number"
                },
                "creatorName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "creatorEmail": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "targetApps": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "holdoutIDs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "team": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "isEnabled": {
                  "type": "boolean"
                },
                "rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "passPercentage": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100
                      },
                      "conditions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "targetValue": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "operator": {
                              "type": "string"
                            },
                            "field": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "customID": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "app_version",
                                "browser_name",
                                "browser_version",
                                "country",
                                "custom_field",
                                "email",
                                "environment_tier",
                                "fails_gate",
                                "fails_segment",
                                "ip_address",
                                "locale",
                                "os_name",
                                "os_version",
                                "passes_gate",
                                "passes_segment",
                                "public",
                                "time",
                                "unit_id",
                                "user_id",
                                "url",
                                "javascript",
                                "device_model"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      },
                      "environments": {
                        "type": [
                          "array",
                          "null"
                        ],
                        "items": {
                          "type": "string"
                        }
                      },
                      "id": {
                        "type": "string"
                      },
                      "baseID": {
                        "type": "string"
                      },
                      "returnValue": {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      "returnValueJson5": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "passPercentage",
                      "conditions"
                    ]
                  }
                },
                "defaultValue": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "defaultValueJson5": {
                  "type": "string"
                },
                "schema": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "schemaJson5": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "description",
                "lastModifierID",
                "lastModifiedTime",
                "lastModifierEmail",
                "lastModifierName",
                "createdTime",
                "creatorName",
                "isEnabled",
                "rules"
              ]
            }
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "MetricListResponseSchema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "ratio",
                    "sum",
                    "composite",
                    "mean",
                    "event_count_custom",
                    "event_user",
                    "funnel",
                    "undefined",
                    "setup_incomplete",
                    "composite_sum",
                    "import_window",
                    "user_warehouse"
                  ]
                },
                "isHidden": {
                  "type": "boolean"
                },
                "isVerified": {
                  "type": "boolean"
                },
                "isReadOnly": {
                  "type": "boolean"
                },
                "unitTypes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "metricEvents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "enum": [
                          "count",
                          "count_distinct",
                          "value",
                          "metadata"
                        ]
                      },
                      "metadataKey": {
                        "type": "string"
                      },
                      "criteria": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "value",
                                "metadata"
                              ]
                            },
                            "column": {
                              "type": "string"
                            },
                            "condition": {
                              "type": "string",
                              "enum": [
                                "in",
                                "not_in",
                                "=",
                                ">",
                                "<",
                                ">=",
                                "<=",
                                "is_null",
                                "non_null",
                                "contains",
                                "not_contains",
                                "sql_filter",
                                "starts_with",
                                "ends_with",
                                "after_exposure"
                              ]
                            },
                            "values": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "nullVacuousOverride": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "type",
                            "condition"
                          ]
                        }
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "metricComponentMetrics": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ]
                  }
                },
                "description": {
                  "type": "string"
                },
                "directionality": {
                  "type": "string",
                  "enum": [
                    "increase",
                    "decrease"
                  ]
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "isPermanent": {
                  "type": "boolean"
                },
                "rollupTimeWindow": {
                  "type": "string"
                },
                "customRollUpStart": {
                  "type": "number"
                },
                "customRollUpEnd": {
                  "type": "number"
                },
                "funnelEventList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "event_dau",
                          "event_user",
                          "event_count",
                          "event_count_custom"
                        ]
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ]
                  }
                },
                "funnelCountDistinct": {
                  "type": "string",
                  "enum": [
                    "events",
                    "users"
                  ]
                },
                "warehouseNative": {
                  "type": "object",
                  "properties": {
                    "aggregation": {
                      "type": "string",
                      "enum": [
                        "count",
                        "sum",
                        "mean",
                        "daily_participation",
                        "ratio",
                        "funnel",
                        "count_distinct",
                        "percentile",
                        ""
                      ]
                    },
                    "metricSourceName": {
                      "type": "string"
                    },
                    "criteria": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "value",
                              "metadata"
                            ]
                          },
                          "column": {
                            "type": "string"
                          },
                          "condition": {
                            "type": "string",
                            "enum": [
                              "in",
                              "not_in",
                              "=",
                              ">",
                              "<",
                              ">=",
                              "<=",
                              "is_null",
                              "non_null",
                              "contains",
                              "not_contains",
                              "sql_filter",
                              "starts_with",
                              "ends_with",
                              "after_exposure"
                            ]
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "nullVacuousOverride": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "condition"
                        ]
                      }
                    },
                    "waitForCohortWindow": {
                      "type": "boolean"
                    },
                    "denominatorCriteria": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "value",
                              "metadata"
                            ]
                          },
                          "column": {
                            "type": "string"
                          },
                          "condition": {
                            "type": "string",
                            "enum": [
                              "in",
                              "not_in",
                              "=",
                              ">",
                              "<",
                              ">=",
                              "<=",
                              "is_null",
                              "non_null",
                              "contains",
                              "not_contains",
                              "sql_filter",
                              "starts_with",
                              "ends_with",
                              "after_exposure"
                            ]
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "nullVacuousOverride": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "condition"
                        ]
                      }
                    },
                    "denominatorAggregation": {
                      "type": "string",
                      "enum": [
                        "count",
                        "sum",
                        "mean",
                        "daily_participation",
                        "ratio",
                        "funnel",
                        "count_distinct",
                        "percentile",
                        ""
                      ]
                    },
                    "denominatorCustomRollupEnd": {
                      "type": "number"
                    },
                    "denominatorCustomRollupStart": {
                      "type": "number"
                    },
                    "denominatorMetricSourceName": {
                      "type": "string"
                    },
                    "denominatorRollupTimeWindow": {
                      "type": "string"
                    },
                    "denominatorValueColumn": {
                      "type": "string"
                    },
                    "funnelCalculationWindow": {
                      "type": "number"
                    },
                    "funnelCountDistinct": {
                      "type": "string",
                      "enum": [
                        "sessions",
                        "users"
                      ]
                    },
                    "funnelEvents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "criteria": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "value",
                                    "metadata"
                                  ]
                                },
                                "column": {
                                  "type": "string"
                                },
                                "condition": {
                                  "type": "string",
                                  "enum": [
                                    "in",
                                    "not_in",
                                    "=",
                                    ">",
                                    "<",
                                    ">=",
                                    "<=",
                                    "is_null",
                                    "non_null",
                                    "contains",
                                    "not_contains",
                                    "sql_filter",
                                    "starts_with",
                                    "ends_with",
                                    "after_exposure"
                                  ]
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "nullVacuousOverride": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "type",
                                "condition"
                              ]
                            }
                          },
                          "metricSourceName": {
                            "type": "string"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "sessionIdentifierField": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "funnelStartCriteria": {
                      "type": "string",
                      "enum": [
                        "start_event",
                        "exposure"
                      ]
                    },
                    "metricDimensionColumns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "metricBakeDays": {
                      "type": "number"
                    },
                    "numeratorAggregation": {
                      "type": "string",
                      "enum": [
                        "count",
                        "sum",
                        "mean",
                        "daily_participation",
                        "ratio",
                        "funnel",
                        "count_distinct",
                        "percentile",
                        ""
                      ]
                    },
                    "valueColumn": {
                      "type": "string"
                    },
                    "winsorizationHigh": {
                      "type": "number",
                      "maximum": 1,
                      "minimum": 0
                    },
                    "winsorizationLow": {
                      "type": "number",
                      "maximum": 1,
                      "minimum": 0
                    },
                    "cupedAttributionWindow": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "onlyIncludeUsersWithConversionEvent": {
                      "type": "boolean"
                    },
                    "rollupTimeWindow": {
                      "type": "string"
                    },
                    "customRollUpStart": {
                      "type": "number"
                    },
                    "customRollUpEnd": {
                      "type": "number"
                    }
                  }
                },
                "team": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "id": {
                  "type": "string"
                },
                "lineage": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "metrics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "events",
                    "metrics"
                  ]
                },
                "creatorName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "creatorEmail": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "createdTime": {
                  "type": "number"
                },
                "owner": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              },
              "required": [
                "name",
                "type",
                "directionality",
                "id",
                "lineage"
              ]
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResponseMetadataSchema"
          }
        },
        "required": [
          "message",
          "data"
        ],
        "description": "Get metric list response",
        "example": {
          "message": "Metric listed successfully.",
          "data": [
            {
              "id": "add_to_cart::event_dau",
              "name": "add_to_cart",
              "directionality": "increase",
              "type": "event_dau",
              "description": "",
              "isPermanent": false,
              "isReadOnly": false,
              "isHidden": false,
              "isVerified": false,
              "tags": [
                "★ Core",
                "asdf",
                "dashboard_test"
              ],
              "createdTime": 1680128775716,
              "lineage": {
                "events": [
                  "add_to_cart"
                ],
                "metrics": []
              },
              "team": null
            }
          ]
        }
      },
      "GateFullUpdateContract": {
        "type": "object",
        "properties": {
          "isEnabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "passPercentage": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "conditions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "targetValue": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "operator": {
                        "type": "string"
                      },
                      "field": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "customID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "app_version",
                          "browser_name",
                          "browser_version",
                          "country",
                          "custom_field",
                          "email",
                          "environment_tier",
                          "fails_gate",
                          "fails_segment",
                          "ip_address",
                          "locale",
                          "os_name",
                          "os_version",
                          "passes_gate",
                          "passes_segment",
                          "public",
                          "time",
                          "unit_id",
                          "user_id",
                          "url",
                          "javascript",
                          "device_model"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                },
                "environments": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "id": {
                  "type": "string"
                },
                "baseID": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "passPercentage",
                "conditions"
              ]
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "PERMANENT",
              "TEMPORARY"
            ]
          },
          "idType": {
            "type": "string"
          },
          "targetApps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "creatorID": {
            "type": [
              "string",
              "null"
            ]
          },
          "creatorEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "team": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "isEnabled",
          "description",
          "rules"
        ],
        "example": {
          "isEnabled": false,
          "description": "Updated Gate Description",
          "rules": [
            {
              "name": "All Conditions",
              "passPercentage": 10,
              "conditions": [
                {
                  "type": "user_id",
                  "targetValue": [
                    "111",
                    "222"
                  ],
                  "operator": "any"
                },
                {
                  "type": "email",
                  "targetValue": [
                    "@outlook.com",
                    "@gmail.com"
                  ],
                  "operator": "str_contains_any"
                },
                {
                  "type": "custom_field",
                  "targetValue": 31,
                  "operator": "gt",
                  "field": "age"
                },
                {
                  "type": "app_version",
                  "targetValue": "1.1.1",
                  "operator": "version_gt"
                },
                {
                  "type": "browser_name",
                  "targetValue": [
                    "Android",
                    "Chrome"
                  ],
                  "operator": "any"
                },
                {
                  "type": "browser_version",
                  "targetValue": [
                    "94.0.4606.81",
                    "94.0.4606.92"
                  ],
                  "operator": "any"
                },
                {
                  "type": "os_name",
                  "targetValue": [
                    "Android",
                    "Windows"
                  ],
                  "operator": "none"
                },
                {
                  "type": "os_version",
                  "targetValue": "11.0.0",
                  "operator": "version_lte"
                },
                {
                  "type": "country",
                  "targetValue": [
                    "NZ",
                    "US"
                  ],
                  "operator": "any"
                },
                {
                  "type": "environment_tier",
                  "targetValue": [
                    "production"
                  ],
                  "operator": "any"
                },
                {
                  "type": "passes_segment",
                  "targetValue": "growth_org"
                },
                {
                  "type": "fails_segment",
                  "targetValue": "growth_org"
                },
                {
                  "type": "ip_address",
                  "targetValue": [
                    "1.1.1.1",
                    "8.8.8.8"
                  ],
                  "operator": "any"
                },
                {
                  "type": "unit_id",
                  "operator": "any",
                  "targetValue": [
                    "31"
                  ],
                  "customID": "userID"
                }
              ]
            }
          ],
          "tags": [
            "★ Core"
          ],
          "type": "TEMPORARY",
          "idType": "stableID",
          "targetApps": []
        }
      },
      "GateCreateContract": {
        "type": "object",
        "properties": {
          "isEnabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "passPercentage": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "conditions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "targetValue": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "operator": {
                        "type": "string"
                      },
                      "field": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "customID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "app_version",
                          "browser_name",
                          "browser_version",
                          "country",
                          "custom_field",
                          "email",
                          "environment_tier",
                          "fails_gate",
                          "fails_segment",
                          "ip_address",
                          "locale",
                          "os_name",
                          "os_version",
                          "passes_gate",
                          "passes_segment",
                          "public",
                          "time",
                          "unit_id",
                          "user_id",
                          "url",
                          "javascript",
                          "device_model"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                },
                "environments": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "id": {
                  "type": "string"
                },
                "baseID": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "passPercentage",
                "conditions"
              ]
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "PERMANENT",
              "TEMPORARY"
            ]
          },
          "idType": {
            "type": "string"
          },
          "targetApps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "creatorID": {
            "type": [
              "string",
              "null"
            ]
          },
          "creatorEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "team": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_\\- ]*$"
          },
          "id": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          }
        },
        "description": "Create a new gate",
        "example": {
          "name": "a_verbose_gate",
          "idType": "userID",
          "isEnabled": false,
          "description": "helpful summary of what this gate does",
          "lastModifierName": "CONSOLE API",
          "lastModifierID": "5rfuqoxLIYTscuSaaCOlB8",
          "targetApps": [
            "my_app"
          ],
          "team": "team",
          "rules": [
            {
              "name": "All Conditions",
              "passPercentage": 10,
              "conditions": [
                {
                  "type": "public"
                },
                {
                  "type": "user_id",
                  "targetValue": [
                    "111",
                    "222"
                  ],
                  "operator": "any"
                },
                {
                  "type": "email",
                  "targetValue": [
                    "@outlook.com",
                    "@gmail.com"
                  ],
                  "operator": "str_contains_any"
                },
                {
                  "type": "custom_field",
                  "targetValue": 31,
                  "operator": "gt",
                  "field": "age"
                },
                {
                  "type": "app_version",
                  "targetValue": "1.1.1",
                  "operator": "version_gt"
                },
                {
                  "type": "browser_name",
                  "targetValue": [
                    "Android",
                    "Chrome"
                  ],
                  "operator": "any"
                },
                {
                  "type": "browser_version",
                  "targetValue": [
                    "94.0.4606.81",
                    "94.0.4606.92"
                  ],
                  "operator": "any"
                },
                {
                  "type": "os_name",
                  "targetValue": [
                    "Android",
                    "Windows"
                  ],
                  "operator": "none"
                },
                {
                  "type": "os_version",
                  "targetValue": "11.0.0",
                  "operator": "version_lte"
                },
                {
                  "type": "country",
                  "targetValue": [
                    "NZ",
                    "US"
                  ],
                  "operator": "any"
                },
                {
                  "type": "passes_gate",
                  "targetValue": "my_gate_2"
                },
                {
                  "type": "fails_gate",
                  "targetValue": "my_gate_2"
                },
                {
                  "type": "time",
                  "targetValue": 1643070357193,
                  "operator": "after"
                },
                {
                  "type": "environment_tier",
                  "targetValue": [
                    "production"
                  ],
                  "operator": "any"
                },
                {
                  "type": "passes_segment",
                  "targetValue": "growth_org"
                },
                {
                  "type": "fails_segment",
                  "targetValue": "growth_org"
                },
                {
                  "type": "ip_address",
                  "targetValue": [
                    "1.1.1.1",
                    "8.8.8.8"
                  ],
                  "operator": "any"
                }
              ],
              "environment": null
            }
          ],
          "checksPerHour": 0,
          "tags": []
[...]
